streamlit==1.7.0
opencv-python==4.5.3.56
Pillow==8.3.1
torch==1.9.1  # Updated to a newer version that may have compatible wheels
torchvision==0.10.0
scikit-learn==0.24.2
numpy>=1.21.2,<1.23.0  # Adjusted to allow a wider range of versions
